<form>
    <div class="row">
        <div class="col-sm-12">
          <p>List of Subject:</p>
          <a (click)="MathsClicked()" >Maths</a>
          <!-- <a routerLink="/bookList">Maths</a> -->
          <br>
          <a (click)="PhysClicked()">Physics</a>
          <br>
          <a (click)="ChemClicked()" >Chemistry</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-primary" (click)="onAddBook()">Add Book</button>
        </div>
    </div>
</form>


<div class="container" *ngIf="showButton">
    <div class="row">
        <div class="col-sm-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form>
                <div class="form-group">
                    <p>Add Book</p>
                    <label for="subjectname">Subject Name</label>
                    <select id="subjectname" class="form-control" #subjectnameinput>
                        <option *ngFor="let bl of bookList" [value]="bl.id">{{bl.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="bookname">Book Name</label>
                    <input type="text" class="form-control" id="bookname" #booknameinput>
                </div>
                <div class="form-group">
                   <button class="btn btn-success" (click)="onSave()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>